.forecard_btn_before {
  width: 150px;
  border: 2px solid #0a84ff;
  border-radius: 10px;
  text-align: center;
  margin-left: 15px;
  color: white;
}
.forecard_btn_after {
  width: 150px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  margin-left: 15px;
  color: #0a84ff;
}

.card_txt2 {
  color: white;
  font-size: 26px !important;
}
