.forecard_btn_before {
  width: 150px !important;
  border: 2px solid #0a84ff;
  border-radius: 10px;
  text-align: center;
  margin-left: 15px !important;
  color: white;
  cursor: pointer;
}

.forecard_btn_after {
  width: 150px !important;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  margin-left: 15px !important;
  color: #0a84ff !important;
  cursor: pointer;
}

.card_txt2 {
  color: white;
  font-size: 26px !important;
}
