.header_txt {
  color: white;
  font-size: 24px !important;
  font-weight: bold !important;
}
.header_bg {
  padding: 30px;
  position: fixed;
  background-color: rgb(29, 28, 28);
  top: 0;
}
.header_right {
  display: flex;
}
