.mian_txt {
  color: white;
  font-size: 35px !important;
  font-weight: bold !important;
}
.forecard_btn {
  width: 150px;
  border: 2px solid #0a84ff;
  border-radius: 10px;
  text-align: center;
  margin-left: 15px;
}
